# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Runtime
tmp/
temp/
*.pid
*.pid.lock

# Env files
.env
.env.*
!.env.example

# Build output
dist/
build/
coverage/

# Prisma local db artifacts (if ever used)
prisma/*.db
prisma/*.db-journal
prisma/dev.db
prisma/dev.db-journal

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo